@model SimchaViewModel;

    <div class="row mt-3">
        <div class="container mt-5">
            <div class="col-md-12">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date</th>
                            <th>Amount</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Fund fund in Model.Funds)
                        {
                        <tr>

                            @if (fund.SimchaId != 1)
                            {
                                <td>@fund.SimchaName</td>
                            }
                            else 
                            {
                            <td>Contribution for @fund.SimchaName</td>
                            }


                            <td>@fund.Date</td>
                            <td>@fund.Amount</td>
                        </tr>
                          
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
